.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4292c6;
    color: white;
    font-weight: 500;
    height: 22rem;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
}

.register-textbox {
    background-color: white;
    padding: 8px;
    color: grey;
    width: 20rem;
    height: 2rem;
    border-radius: 8px;
}

.register-button {
    background-color: #2171b5;
    width: 8rem;
    height: 2.5rem;
    border-radius: 12px;
}

.register-button:hover {
    background-color: #08306b;
    transition: background-color 0.3s ease;
}

.register-box h1 {
    font-size: 24px;
    font-weight: 600;
}

.register-box h2 {
    font-size: 20px;
}

.sign-in-link {
    color: rgb(71, 232, 240);
}

.sign-in-link:hover {
    text-decoration: underline;
}