.navbar nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #045f9b;
    color: white;
    user-select: none;
}

.navbar ul {
    padding: 10px;
    width: 6rem;
    text-align: center;
}

.navbar ul:hover {
    background-color: #2171b5;
}