.review {
    display: flex;
    flex-direction: column;
    background-color: #4292c6;
    padding: 16px;
    width: 25rem;
    height: 15rem;
    border-radius: 8px;
}

.review:hover {
    background-color: #50b3f5;
    transform: scale(1.01)
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.review-body {
    color: #eeeeee;
}

.review-votes {
    text-align: end;
}

.review-title {
    font-weight: 700;
    font-size: 20px;
    color: rgb(254, 254, 254);
}

.review-container-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}